<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>
  
  <unity>
    
    <namespace name="BlackJack" />
    <assembly name="BlackJack" />
    
      
    <container>
        
      <register name="gameWithBot" type="Game[Bot]">
        <constructor>
          <param name="player" type="Bot" />
        </constructor>
      </register>
      
      <register name="gameWithPlayer" type="Game[Player]">
        <constructor>
          <param name="player" type="Player" />
        </constructor>
      </register>

      
    </container>
  
    
  </unity>

  <runtime>

    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">

      <dependentAssembly>

        <assemblyIdentity name="Unity.Configuration" publicKeyToken="6d32ff45e0ccc69f" culture="neutral" />

        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />

      </dependentAssembly>

    </assemblyBinding>

  </runtime>
</configuration>