<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration"/>
  </configSections>

  
  <unity>

    <namespace name="BlackjackClassesLib" />
    <assembly name="BlackjackClassesLib"/>

    <container>
      

      <register type ="Game">
        <lifetime type="singleton"/>
        <constructor>
          <param name = "numberOfDecks" value ="8"/>
        </constructor>
      </register>

      

      <register type ="Bot" name ="firstBot">   
        <constructor>
          <param name = "money" value ="500.0"/>
          <param name = "gameDeck">
            <dependency name="thisGameDeck" />
          </param>
          <param name = "baseRateValue" value ="30"/>
          <param name = "stopHitValue" value ="17"/>
          <param name = "isDoubleDown" value ="true"/>
          <param name = "isSurrender" value ="false"/>
        </constructor>
      </register>

      <register type="Bot" name ="secondBot">
        <constructor>
          <param name = "money" value ="500.0"/>
          <param name = "gameDeck">
            <dependency name= "thisGameDeck" />
          </param>
          <param name = "baseRateValue" value ="25"/>
          <param name = "stopHitValue" value ="16"/>
          <param name = "isDoubleDown" value ="false"/>
          <param name = "isSurrender" value ="true"/>
        </constructor>
      </register>

    </container>

  </unity>
</configuration>