<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Unity.Configuration" />
  </configSections>

  <unity>
    
    <namespace name="BlackJack" />
    <assembly name="BlackJack" />
    <namespace name="BlackJack.Bots" />
    <assembly name="BlackJack.Bots" />

    <container>

      <instance type="int" name="InitMoney" value="100" />

      <register name="fearfulBot" type="Player" mapTo="FearfulBot">
        <constructor>
          <param name="startMoney">
            <dependency name="InitMoney" />
          </param>
        </constructor>
      </register>
      
      <register name="riskyBot" type="Player" mapTo="RiskyBot">
        <constructor>
          <param name="startMoney">
            <dependency name="InitMoney" />
          </param>
        </constructor>
      </register>
      
      <register name="smartBot" type="Player" mapTo="SmartBot">
        <constructor>
          <param name="startMoney">
            <dependency name="InitMoney" />
          </param>
        </constructor>
      </register>

    </container>
  </unity>
</configuration>
